/*
This is the css file for the about-us page
*/

#main_img {
	display: block;
	margin:auto;
	margin-top: 25px;
	width: 700px;
	height: 500px;
}

#information {
	clear: both;
	display: block;
	text-align: center;
}

#information h1 {
	font-family: 'Ubuntu', sans-serif;
}

#information p {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 670px;
	font-family: 'Lora', serif; 
}