body {
	background-color: #FFF;
}

.wrapper {
	height: 100%;
	width: 1000px;
	margin: auto;
	background-color: #F0F0F0;
}

.active {
	background-color: #535B30 !important;
}

#top-logo {
	display: block;
	width: 135px;
	height: 125px;
	padding: 0px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#first-item {
	border-radius: 10px 0 0 10px;
}

#last-item {
	border-right: none !important;
	border-radius: 0 10px 10px 0;
}

#nav {
	margin: 0px;
	padding: 0px;
	width: 1000px;
	height: 37px;
	margin-right: auto;
	margin-left: auto;
}

#nav li {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
} 

#nav li a {
	display: block;
	float: left;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Ubuntu', sans-serif;
	color: #FFF;
	text-align: center;
	margin: 0px;
	padding: 10px;
	width: 200px;
	/*-webkit-transition: all .3s ease ;  For Safari 3.1 to 6.0 */
    transition: all .3s ease ;
	border-right: 1px solid #000;
	background-color: #9E9A89;

}

#nav li a:hover {
	background-color: #535B30;
}

#nav li a:active {
	background-color: #535B30;
}

#footer {
	position: relative;
	bottom: 20px;
	clear: both;
	padding-top: 15px;
	padding-bottom: 10px;
	letter-spacing: 1px;
	text-align: center;
	font-size: 11px;
}