html, body {
	background-color: #FFF;
	height: auto;
}

.wrapper {
	height: auto;
	width: 1000px;
	margin: 0px auto 0px auto;
	background-color: #F0F0F0;
}

.button {
	display: block;
	float: left;
	padding: 10px;
	width: 200px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Ubuntu', sans-serif;
	color: #FFF;
	text-align: center;
	transition: all .3s ease ;
	border-right: 1px solid #000;
	background-color: #9E9A89;
}

.button:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #535B30;
}

.no-select {
	cursor: default;
}

.active {
	background-color: #535B30 !important;
}

.social-media {
	width: 35px;
	height: 35px;
	display: inline-block;
	margin: 10px auto 0px 10px;
}

.top-logo {
	display: block;
	width: 135px;
	height: 125px;
	padding: 0px 0px 10px 0px;
	margin: 0px auto 0px auto;
}


#last-item {
	border-right: none !important;
}

#nav {
	padding: 0px;
	width: 1000px;
	height: 37px;
	margin: 0px auto 0px auto;
}

#nav li {
	display: block;
	float: left;
}

#footer {
	clear: both;
	position: relative;
	bottom: 0px;
	width: 1000px;
	height: 125px;
	margin: 50px 0px 0px 0px;
	letter-spacing: 1px;
	font-size: 11px;
	text-align: center;
	font-family: 'Lora', serif;
}

#instagram {
	margin-left: 0px;
}