#index-carousel {
	width: 700px;
	height: 500px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
}

#index-carousel .carousel-inner{
	width: 700px;
	height: 500px;
	margin-top: 0px;
	padding-top: 0px;
}

#index-carousel img {
	width: 700px;
	height: 500px;
}

.carousel-control {
	height: 500px;
	width: 50px;
	
}