h1 {
	font-size: 16px;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

#index-carousel {
	width: 900px;
	height: 500px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
}

#index-carousel .carousel-inner{
	width: 900px;
	height: 500px;
	margin-top: 0px;
	padding-top: 0px;
}

#index-carousel img {
	width: 900px;
	height: 500px;
}

.carousel-control {
	height: 500px;
	width: 50px;
}

#boxes {
	width: 1000px;
	height: 225px;
}

.box {
	display: block;
	float: left;
	height: 200px;
	width: 300px;
	margin-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Lora', serif;
}

#left-box {
	margin-left: 50px;
	padding-left: 0px;
}

#right-box {
	padding-right: 0px;
}