h1 {
	font-size: 16px;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

#banner {
	width: 900px;
	position: absolute;
	z-index: 2;
	opacity: 0.85;
	font-size: 25px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: white;
	background-color: #9E9A89;
}

#index-carousel {
	clear: both;
	width: 900px;
	height: 500px;
	margin: 25px auto 0px auto;
}

#index-carousel .carousel-inner{
	width: 900px;
	height: 500px;
}

#index-carousel img {
	width: 900px;
	height: 500px;
}

.carousel-control {
	height: 500px;
	width: 50px;
}

#boxes {
	width: 1000px;
	height: 225px;
}

.box {
	display: block;
	float: left;
	height: 200px;
	width: 300px;
	margin-top: 25px;
	padding: 0px 10px;
	font-family: 'Lora', serif;
}

#left-box {
	margin-left: 50px;
	padding-left: 0px;
}

#right-box {
	padding-right: 0px;
}