/*
This is the CSS file for the menu page
*/
p {
	text-align: center;
}

#content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	padding: 0px;
	height: 500px;
	width: 900px;
}

#bottom-bar {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	padding: 0px;
	display: block;
	width: 900px;
	height: 50px;
}

#menu-nav {
	display: block;
	float: left;
	height: 37px;
	width: 900px;
	margin: 0px;
	padding: 0px;
}

#menu-nav li {     
    width: 180px;
}

#menu-nav li:hover {
	background-color: #535B30;
}

#right-item {
	border-right: 0px !important;
}

#menu_display {
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: 900px;
}

#menu-carousel {
	margin-left: auto;
	height: 500px;
	width: 900px;
}

#menu-carousel img {
	height: 500px;
	width: 900px;
}

#information {
	clear: both;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 900px;
	height: 50px;
	font-family: 'Lora', serif;
}

#title {
	font-family: 'Ubuntu', sans-serif;
}

#menu {
	font-family: 'Lora', serif;
}