h3 {
	font-family:  'Ubuntu', sans-serif;
}

#content {
	margin: 25px auto 0px auto;
	padding: 0px;
	height: 500px;
	width: 900px;
}

#bottom-bar {
	display: block;
	margin: 25px auto 0px auto;
	padding: 0px;
	width: 900px;
	height: 50px;
}

#menu-nav {
	display: block;
	float: left;
	height: 37px;
	width: 900px;
	margin: 0px;
	padding: 0px;
}

#menu-nav li {     
   	 width: 180px;
}

#menu-nav li:hover {
	background-color: #535B30;
}

#right-item {
	border-right: 0px !important;
}

#menu_display {
	margin: 0px auto;
	height: 500px;
	width: 900px;
}

#menu-carousel {
	margin-left: auto;
	height: 500px;
	width: 900px;
}

#menu-carousel img {
	height: 500px;
	width: 900px;
}

#information {
	clear: both;
	margin: 100px auto 25px auto;
	width: 900px;
	height: auto;
	font-family: 'Lora', serif;
}

#title {
	font-family: 'Ubuntu', sans-serif;
	width: 900px;
	height: 50px;
	padding-top: 5px;
	margin: 0px;
	text-align: center;
}

#menu {
	clear: both;
	width: 900px;
	height: 180px;
	margin: 0px auto 25px auto;
	font-family: 'Lora', serif;
}

.menu-box {
	display: block;
	float: left;
	width: 200px;
	height: 200px;
	padding: 0px;
	margin: 0px 100px 0px 0px;
}

.menu-box ul {
	display: block;
	padding: 0px;
	margin: 0px;
}

.menu-box li {
	display: block;
	text-align: left;
}

#right-menu {
	margin-right: 0px;
}

#left-menu {
	margin-left: 250px;
}