body{
background-image:url('../images/prettyPattern.gif');
}
	
h1{
font-family:"Verdana", Geneva, sans-serif; 
background-color:#E6E6A0; 
text-align:center; 
font-size:50px;
}
	
h2{
font-family:"Georgia", serif; 
background-color:#FF0000; 
font-size:30px; 
letter-spacing:5px; 
font-style:italic; 
font-variant:small-caps;
}
	
b{
color:blue;
}

a:hover {
text-transform:uppercase; 
background-color:#FFFF96; 
color:red;
text-decoration:none;
}

ul{
list-style-type:square; 
letter-spacing:5px;
}

p{
font-weight:900;
text-decoration:overline;
}

