body {
background-color:#999999;
}

h1 {
font-family: Georgia, Times, "Times New Roman", serif;
font-size:25px;
text-transform:uppercase;
}

h2 {
font-size:15px;
color:#000000;
}

ul {
font-size:10px;
text-transform:uppercase;
color:#B0B0B0;
font-family: Verdana, Geneva, sans-serif;
list-style-type:none;
width:100%;
}										

li { 
display:inline;
padding-right:10px;
}

#content {
width:705px;
margin:0 auto;
}

#rightbox {
border:none;
border-bottom:1px solid #B0B0B0;
}

* {
padding:0px 0px 0px 0px;
}

#footer {
text-align:center;
font-family: Verdana, Geneva, sans-serif;
font-size:10px;
padding-top:25px;
}

.right {
padding:0px;
}

.box {
float:left;
width:138px;
font-family: Verdana, Geneva, sans-serif;
margin-top:25px; 
padding-left:25px;
padding-right:10px;
border-bottom:1px solid #B0B0B0;
border-right:1px solid#B0B0B0;	
text-align:left;
font-size:10px;
color:#B0B0B0;
height:75px;
}

.clear {
clear:both;
}